html
  head
    title=name
  body
    table(align='center', cellspacing='2', cellpadding='10', width='600',border=2)
      tbody
        tr
          td(bgcolor='gray')
            b Name
          td Welcome Mr/Miss/Mrs #{name}
        tr
          td(bgcolor='gray')
            b Gender
          td=gender
        tr
          td(bgcolor='gray')
            b Age
          td=age
        tr
          td(bgcolor='gray')
            b Weight
          td=weight
        tr
          td(bgcolor='gray')
            b Mobile
          td=mobile